/* Typst Focus Mode Styles */
div.cm-content {
    max-width: 650px !important;
    margin: 0 auto !important;
}

body #app-root nav {
    display: none !important;
}

body #app-root {
    padding-inline-start: 12px;
}

body #app-root div[role="toolbar"] {
    display: none !important;
}

body #app-root header > div:first-child {
    visibility: hidden;
}

body #app-root header > div[role="heading"] {
    opacity: 0.3;
}

body #app-root div[role="region"]:first-child {
    display: none;
}

div[class*="previewPane"] {
    display: none !important;
}

body #app-root > div > div[class*="mainArea"] {
    grid-template-columns: minmax(0, 1fr) !important;
}

body #app-root > div > div[class*="mainArea"] > div[class*="_splitter_"] {
    grid-template-columns: 1fr 0 0 !important;
}
